# Plotting for result 2

In [1]:
from data_process import *

from matplotlib import pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
x = pd.DataFrame({
    'floods': MAJOR_HISTORICAL_FLOODS,
    'servey': [SERVEY_YEAR] * 5,
    'x_slices': [np.arange(start, SERVEY_YEAR, 1) for start in MAJOR_HISTORICAL_FLOODS],
})

memory_all = stats_fre_questionnaris(datasets['all'], MAJOR_HISTORICAL_FLOODS, normalize=True)
memory_farm = stats_fre_questionnaris(datasets['farm'], MAJOR_HISTORICAL_FLOODS, normalize=True)
memory_off = stats_fre_questionnaris(datasets['off-farm'], MAJOR_HISTORICAL_FLOODS, normalize=True)

In [3]:
x

   floods  servey                                           x_slices
0    1904    2018  [1904, 1905, 1906, 1907, 1908, 1909, 1910, 191...
1    1946    2018  [1946, 1947, 1948, 1949, 1950, 1951, 1952, 195...
2    1964    2018  [1964, 1965, 1966, 1967, 1968, 1969, 1970, 197...
3    1981    2018  [1981, 1982, 1983, 1984, 1985, 1986, 1987, 198...
4    2012    2018               [2012, 2013, 2014, 2015, 2016, 2017]

In [4]:
memory_all

      communicative  cultural  collective       sum
1904       0.176568  0.122112    0.273927  0.298680
1946       0.186469  0.122112    0.273927  0.308581
1964       0.247525  0.132013    0.356436  0.379538
1981       0.402640  0.140264    0.519802  0.542904
2012       0.374587  0.199670    0.511551  0.574257

In [6]:
get_decay_params('all', 'exp')

{'n': 1.5337159865591636, 'k': 0.01578253223539483}

In [5]:
colors = ['b', 'g', 'r', 'c', 'm']
k, n0 = [result.params[key].value for key in ['k', 'n']]
influence = n0 * nomarlization(x_data).loc[MAJOR_HISTORICAL_FLOODS]
y_model = []

# plotting
plt.scatter(x=influence.index, y=influence.values, color='w', edgecolors=colors)
plt.scatter(x=[SERVEY_YEAR] * 5, y=y_data, color=colors)

for i in range(len(MAJOR_HISTORICAL_FLOODS)):
    start_year = MAJOR_HISTORICAL_FLOODS[i]
    t_slices = np.arange(start_year, SERVEY_YEAR)
    y_func = exp_decay(t_slices, start_year, influence[start_year], k)
    plt.plot(t_slices, y_func, '--', c=colors[i])
    y_model.append(y_func[-1])
plt.title(kind)
plt.show()

plt.scatter(y_data, y_model, label='forecast by model')
plt.plot(y_data, y_data, label='1:1 line')
plt.title(kind)
plt.show()

nash = fit_nash(y_data, y_model)
r2 = goodness_of_fit(y_data, y_model)
adj_r2 = adjusted_goodness(y_data, y_model)

NameError: name 'result' is not defined